:root {
  --app-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --color-brand-white: #fff;
  --color-brand-primary: rgb(88, 58, 153);
  --color-brand-link: rgb(205, 50, 38);
}

/* Typography styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--app-font-family);
}

.text-primary {
  color: var(--color-brand-primary);
}

/* Utility classes */
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.d-grid {
  display: grid;
}

.grid-cols-3-rows-2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(320px, 420px));
  gap: 1rem;
}

.w-100 {
  width: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
  white-space: nowrap;
}
